%h4 <center>Attachments</center>
%br
- if !@attachments.empty?
    %table.alt#documents
        %thead
            %tr
                %th File
        %tbody
            - @attachments.each do |attachment|
                %tr
                    %td= link_to attachment.file_file_name, attachment.file.url