%body.landing
  %section#banner
    %h2
    %p
  %section#one.wrapper.style1.align-center
    .container
      %table{:style => "width = 100%"}
        %tbody
          %tr
            %td
              =link_to 'New Collection', root_path
            %td
              =link_to 'New Document', new_document_path
  %section#two.wrapper.style2.align-center
    .container
      %header
        %h2 My Collections
      .row
        %section.feature.6u{:class => "12u$(small)"}
          %img.image.fit{:alt => "", :src => "/assets/pic02.jpg"}/
          %p
            Collection table here.
        .container
          %header
            %h2 My Documents
          .row
            %section.feature.6u{:class => "12u$(small)"}
              %img.image.fit{:alt => "", :src => "/assets/pic02.jpg"}/
              %table.table-wrapper.alt#documents
                %thead
                  %tr
                    %th Document Name
                    %th Document Details
                %tbody
                  - @documents.each do |document|
                    %tr
                      %td= document.name 
                      %td= link_to "More about #{document.name}", document_path(document)


  
