-# in app/views/documents/show.html.haml

%h3 #{@document.name}

.table-wrapper
%table.alt
  %thead
    %tr
      %th Title
      %th Body
  %tbody
    %td=@document.name
    %td=@document.body
    
%br
= link_to 'Edit info ', edit_document_path(@document)
%br
= link_to ' Return home ', root_path
%br
= link_to ' Delete ', document_path(@document), :method => :delete