%h4 <center>Comments</center>
%br
%table.alt#documents
    %thead
        %tr
            %th Name
            %th Comment
    %tbody
        - @comments.each do |comment|
            %tr
                %td= link_to "#{@map[comment.id]}", user_path(User.find(comment.user_id)) 
                %td= comment.body