%h4 Comments
%br
%table.alt#documents
    %thead
        %tr
            %th Name
            %th Comment
    %tbody
        - @comments.each do |comment|
            %tr
                %td= @map[comment.id] 
                %td= comment.body