!!!
%html
  %head
    %title Alexandria
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  /%body.landing
  %header#header      
    %h1
      %a{:href => "#"} Project Alexandria
    %nav#nav
      %ul
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Browse
        %li
          %a{:href => "#"} Profile
  = yield        
  %footer#footer
    .container
      %ul.copyright
        %li © Project Alexandria. All rights reserved.
        %li
          Design:
          %a{:href => "http://templated.co"} TEMPLATED
        %li
          Images:
          %a{:href => "http://unsplash.com"} Unsplash
