!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Playfair+Display|Alice|Roboto|Roboto+Condensed|Alegreya|Lora", :rel => "stylesheet", :type => "text/css"}/
    %title Alexandria
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      -if flash[:notice]
        .notice=flash[:notice]
      -if flash[:alert]
        .alert=flash[:alert]
      .container
      %h1
        %a 
        =link_to "Project Alexandria", root_path
      %nav#nav
        %ul
          -if @current_user
            %li
              %a
              =link_to "Browse", published_path
            %li
              %a
              =link_to "My Work", home_index_path
            %li 
              %a
              =link_to "Shared With Me", shared_path
            %li 
              %a
              =link_to "My Profile", user_path(User.find(session[:user_id]))
            %li 
              %a  
              =link_to "Logout", '/logout'
          -elsif not @current_user
            %li 
              %a
              =link_to "Browse", published_path
            %li 
              %a
              =link_to "Sign Up", '/signup'
            %li
              %a
              =link_to "Login", '/login'
    #content
      = yield
    #footer
      .container
        %ul.copyright
          %li © Project Alexandria. All rights reserved.
          %li
            Design Inspiration:
            %a{:href => "http://templated.co"} TEMPLATED
          %li
            Images:
            %a{:href => "http://unsplash.com"} Unsplash
