!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Playfair+Display|Alice|Roboto|Roboto+Condensed|Alegreya|Lora", :rel => "stylesheet", :type => "text/css"}/
    %title Alexandria
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header    
      .container
      %h1
        %a Project Alexandria
      %nav#nav
        %ul
          %li
            %a
            =link_to "Home", root_path
          %li
            %a
            =link_to "Browse", published_path
          %li
            %a
            =link_to "Profile", '#'
          -# this bit is currently not working
          - if @current_user
            %li
            =link_to "Logout", '/logout'
          - elsif not @user
            %li
              =link_to "Sign Up", '/signup'
            %li
              =link_to "Login", '/login'
    #content
      = yield
    #footer
      .container
        %ul.copyright
          %li © Project Alexandria. All rights reserved.
          %li
            Design Inspiration:
            %a{:href => "http://templated.co"} TEMPLATED
          %li
            Images:
            %a{:href => "http://unsplash.com"} Unsplash
